.outer-nav-container {
  width: 100%;
  height: 95px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  background: #FFF;
  position: absolute;
  height: 75px;
  top: -10px;
  border: 2px solid #5B605E;
  border-radius: 20px;
  box-shadow: 0px 8px 0px rgba(39, 52, 63, 0.1);

  .divider {
    display: flex;
    justify-content: flex-end;
  }
}

.mobile-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.mobile-drawer-icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  .MuiButtonBase-root {
    padding: 0px;
  }
}