.footer-container {
  padding: 50px;

  &.smaller {
    padding: 15px;
  }
}

.sublink-text {
  color: #525252;
  &:hover {
    color: #94A3B8;
  }
}

.mobile-footer {
  padding: 15px;
  padding-top: 30px;

  .sublink-text {
    color: #fff;
    &:hover {
      color: #525252;
    }
  }
}

.mobile-footer-container {
  .our-partners {
    padding-bottom: 100px;
  }
}
