.headline-container {

  .subtext {
    &.smaller {
      h5 {
        text-align: center;
      }
    }
  }
}

.headline-button {
  #apply {
    margin-right: 25px;

    &.smaller {
      margin-right: 0px;
    }
  }
}

.mobile-headline-container {
  padding: 15px;
  margin-bottom: 25px;

  .mobile-headline-image {
    display: flex;
    justify-content: center;
  }

  .MuiGrid-item {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mobile-headline-buttons {
    padding: 10px;
  }
}