.headline-container {

  .subtext {
    &.smaller {
      h5 {
        text-align: center;
      }
    }
  }
}

.headline-button {
  #apply {
    margin-right: 25px;

    &.smaller {
      margin-right: 0px;
    }
  }
}